/*  your css code here. If applicable */
#grid{
	width:90vw;
	height:60vh;
	display:grid;
	grid-template-columns:242.5px 242.5px 242.5px 242.5px;
	grid-template-rows:124px 124px 124px 124px 124px;
	gap:10px;
}
#grid>div{
	color:white;
	background-color:green;
	font-size:20px;
	padding-left:4px;
}
#img1{
	grid-column:span 4/auto;
}
#img2{
	grid-row:span 4/auto;
}
#img4{
	grid-column:span 2/auto;
}
#img5{
	grid-column:span 2/auto;
}
#img10{
	grid-column:span 3/auto;
}